.detailPage {
	background-image: linear-gradient(to right top, #002864, #1d4589, #3564af, #4a85d6, #5fa8ff);
	height: 100vh;
	text-align: center;
}
.detailImage {
	width: 10rem;
}
.detailPage > * {
	color: #fff !important;
}
